@use "./abstracts/mixins";

// Nav ---------------
nav {
  position: fixed;
  z-index: 10;
  background: linear-gradient($base-color, rgba(0, 0, 0, 0.2));
  width: 100%;
  height: auto;
  @include mixins.flex(center, center);

  .nav-container {
    margin: 10px auto;
    @include mixins.flex(space-evenly, center);
    width: 80%;
    height: auto;
  }
  .logo {
    cursor: pointer;
    padding: 10px 0px;
    font-size: 20px;
    background: linear-gradient(to right, $primary-color, $secondary-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Josefin Sans", sans-serif;
  }

  ul {
    @include mixins.flex(flex-end, center);
    width: 100%;

    li {
      list-style: none;
      padding: 0 40px;
    }

    a {
      text-decoration: none;
      color: $primary-color;
    }
  }
}

// Header --------------
header {
  width: 100%;
  height: 600px;
  background-color: transparent;

  .header-container {
    width: 100%;
    height: 100%;
    @include mixins.flex(center, center);
    background-color: rgba(22, 20, 32, 0.9);
  }

  .slider-container {
    @include mixins.flex(center, center);
    width: 100%;
    height: 100%;
    border-radius: $border-radius;
    background-image: linear-gradient($transparent-background, $base-color);

    .trailer {
      position: relative;
      width: 100%;
      height: 100%;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(rgba(0, 0, 0, 0.1), $base-color);
        width: 100%;
        height: 100%;
      }

      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .trailer-details {
        position: absolute;
        bottom: 0;
        z-index: 1;
        @include mixins.flex(space-between, center);
        width: 100%;
        height: auto;
        padding: 10px 60px;

        h1 {
          width: auto;
          height: 100px;
        }

        div {
          width: auto;
          @include mixins.flex(center, center);

          img {
            margin-left: 20px;
            width: auto;
            height: 100px;
            object-fit: contain;
          }
        }
      }

      .slider-left-btn {
        position: absolute;
        top: 50%;
        left: 40px;
      }
      .slider-right-btn {
        position: absolute;
        top: 50%;
        right: 40px;
      }

      button {
        z-index: 20;
        font-size: 28px;
        background-color: $transparent-background;
        border: 1px solid $secondary-color;
        border-radius: $border-radius;
        cursor: pointer;

        .btn-icons {
          color: $secondary-color;
          width: 100%;
          height: 100%;
          padding: 8px;
          text-align: center;
        }
        &:hover {
          background-color: rgba(99, 99, 99, 0.5);
        }
      }
    }
  }
}

// Main Container ---------------
.main-container {
  @include mixins.flex(flex-start, center);
  flex-direction: column;
  background-color: $base-color;
  padding: 80px 120px;
  width: 100%;
  height: auto;

  > h1 {
    text-transform: uppercase;
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 20px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  }

  .search-container {
    position: relative;
    width: 100%;

    .search-icon {
      position: absolute;
      top: 10px;
      left: 15px;
    }

    input {
      width: 100%;
      font-size: 1rem;
      padding: 10px 40px;
      color: $primary-color;
      background-color: rgba(255, 255, 255, 0.2);
      text-align: center;
      border: 1px solid $secondary-color;

      &:focus {
        outline: 2px solid $secondary-color;
      }
    }

    .search-delete-btn {
      visibility: visible;
      position: absolute;
      top: 10px;
      right: 15px;
      cursor: pointer;
    }
    .inactive {
      visibility: hidden;
    }
  }

  // MovieList ----------------------
  .main-movies-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin: 20px 0px;
  }
}

// Movies
.movie {
  position: relative;
  height: 300px;
  border: none;
  transition: 0.2s ease;

  &:hover .movie-hover {
    opacity: 1;
  }

  .movie-hover {
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;
    text-align: center;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    @include mixins.flex(space-between, center);
    flex-direction: column;
    overflow: hidden;
    opacity: 0;
    transition: 0.2s ease;

    &:hover div {
      bottom: 0;
    }

    .play-icon {
      cursor: pointer;
      margin: auto;
      font-size: 3rem;

      &:hover {
        color: $secondary-color;
      }
    }

    div {
      position: absolute;
      bottom: -50%;
      width: 100%;
      height: auto;
      padding: 5px 0px;
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), $base-color);
      transition: 0.2s ease-in-out;

      p {
        font-size: 12px;
      }
    }
  }

  .feature-poster {
    width: 220px;
    height: 100%;
  }
}
