@import url("https://fonts.googleapis.com/css2?family=Heebo&family=Josefin+Sans&display=swap");

@import "./abstracts/variables";
@import "./layouts";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  font-family: "Heebo", sans-serif;
  font-size: 17px;
  background-color: $base-color;
  color: $primary-color;
}
